*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}
h1, h2, h3{
    color: #242424;
    font-weight: 300;
}
.navbar{
    background-color: #737373;
    margin: 10px 0px;
    padding: 10px;
}

.navbar a{
    color: white;
}
.blue-box{
    width: 200px;
    height: 200px;
    background-color: lightblue;
    border: 5px solid black;
}